.label {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 400px;
  align-items: flex-start;
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
}

.button {
  cursor: pointer;
  padding: 5px 12px;
  border-radius: 5px;
  border: 1px solid rgb(33, 33, 33);
  background-color: whitesmoke;
}

.button:hover {
  background-color: rgb(25, 112, 233);
}
