.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #2d0c8a;
  border-radius: 0px 0px 10px 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
